body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background: rgb(236, 146, 11);
}

.nav-bar {
  display: inline-block;
  width: 100%;
  height: 120px;
  color: rgb(43, 9, 240);
  background-color: rgb(187, 187, 202);
}
.title {
  padding-top: 5px;
  padding-left: 120px;
}
li {
  display: inline;
  font-size: 20px;
  color: rgb(19, 18, 18);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 20px;
  letter-spacing: 1px;
}
.btn-home {
  cursor: pointer;
}
.btn-portfolio {
  cursor: pointer;
}
.btn-gallery {
  cursor: pointer;
}
.btn-contact {
  cursor: pointer;
}
.section-1 {
  width: 500px;
  height: 300px;
  background-color: aquamarine;
  float: left;
  margin-top: 20px;
  margin-left: 0px;
}
.portfolio h1 {
  font-size: 50px;
  margin-left: 40px;
}
.portfolio p {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.section-2 {
  width: 500px;
  height: 300px;
  background-color: rgb(211, 231, 24);
  float: left;
  margin-top: 20px;
  margin-left: 0px;
}
.gallery h1 {
  font-size: 50px;
  margin-left: 40px;
}

.gallery p {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.section-3 {
  width: 500px;
  height: 300px;
  background-color: rgb(231, 176, 24);
  float: left;
  margin-top: 20px;
  margin-left: 0px;
}
.gallery h1 {
  font-size: 50px;
  margin-left: 40px;
}
.gallery p {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.section-4 {
  width: 500px;
  height: 300px;
  float: left;
  margin-top: 20px;
  margin-left: 0px;
  background-color: bisque;
}
.section-4 img {
  width: 500px;
}
.section-4 h2 {
  font-size: 20px;
  margin-left: 70px;
  margin-top: 10px;
}
hr {
  width: 100%;
  color: blue;
  margin-top: 30px;
}
.main {
  width: 1250px;
  height: 600px;
  background-color: blue;
  float: left;
  margin: 50px;
  margin-left: 125px;
}
.section-5 {
  width: 500px;
  height: 600px;
  background-color: brown;
  margin-top: 280px;
  margin-left: 0px;
  float: left;
}
.section-5 h1 {
  font-size: 20px;
  margin-left: 160px;
  margin-top: 20px;
  color: aliceblue;
}
.photo {
  width: 500px;
  margin-top: 20px;
  padding: 30px 0px 0px 20px;
}

@media only screen and (min-width: 1000px) {
  .title {
    padding-top: 5px;
    padding-left: 90px;
  }
  li {
    display: inline;
    font-size: 20px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    padding-left: 50px;
    padding-right: 20px;
    letter-spacing: 1px;
  }

  .section-1 {
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    float: left;
    margin-top: 50px;
    margin-left: 130px;
  }
  .portfolio h1 {
    font-size: 50px;
    margin-left: 40px;
  }
  .portfolio p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-2 {
    width: 600px;
    height: 300px;
    background-color: rgb(211, 231, 24);
    float: left;
    margin-top: 50px;
    margin-left: 50px;
  }
  .gallery h1 {
    font-size: 50px;
    margin-left: 40px;
  }

  .gallery p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-3 {
    width: 600px;
    height: 300px;
    background-color: rgb(231, 176, 24);
    float: left;
    margin-top: 30px;
    margin-left: 130px;
  }
  .gallery h1 {
    font-size: 50px;
    margin-left: 40px;
  }
  .gallery p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-4 {
    width: 600px;
    height: 300px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    background-color: bisque;
  }
  .section-4 img {
    width: 600px;
    height: 300px;
  }
  .section-4 h2 {
    font-size: 20px;
    margin-left: 70px;
    margin-top: 10px;
  }

  .section-5 {
    width: 1250px;
    height: 400px;
    background-color: brown;
    margin-top: 20px;
    margin-left: 130px;
    float: left;
  }
  .section-5 h1 {
    font-size: 30px;
    margin-left: 500px;
    margin-top: 40px;
    color: aliceblue;
  }
  .photo img {
  }
}
